:root {
    /* Fonts */
    --title-text: 'DynaPuff', cursive;
    --main-text: 'Nunito', sans-serif;
    /* Colors */
    --main-bg: #e5e7eb;
    --shadow: #9ca3af;
    --header-bg: #f9fafb;
    --postit: #fde047;
}

body {
    background-color: var(--main-bg);
}

header {
    background-color: var(--header-bg);
    height: auto;
    z-index: 1;
    box-shadow: 0 6px 10px -4px var(--shadow);
}

header .title {
    font-family: var(--title-text);
}

header .records>* {
    font-family: var(--main-text);
    width: 10rem;
}


main {
    font-family: var(--main-text);
    height: 75vh;
}

.add-book {
    font-family: var(--title-text);
}

footer {
    height: 30px;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    gap: 30px;
    /* border: 1px solid brown; */
}

.book-card {
    background-color: var(--postit);
    width: 300px;
    height: 300px;
}

.card-body {
    display: grid;
    grid-template-areas: 1fr 4fr;
    align-items: center;
    justify-items: center;
}

.book-status .form-check {
    display: flex;
    gap: 10px;
    justify-content: center;
}