:root {
    /* Fonts */
    --title-text: 'DynaPuff', cursive;
    --main-text: 'Nunito', sans-serif;
    /* Colors */
    --main-bg: #e5e7eb;
    --shadow: #9ca3af;
}


header {
    height: auto;
    z-index: 1;
    box-shadow: 0 6px 10px -4px var(--shadow);
}

header .title {
    font-family: var(--title-text);
}

header .records>* {
    font-family: var(--main-text);
    width: 10rem;
}

main {
    height: 75vh;
    /* background-color: var(--main-bg); */
}

footer {
    height: 30px;
}